$gris-oscuro: #434343;
$gris-claro: rgb(248, 248, 248);
$gris-medio: rgb(63, 63, 63);
$gris-borde: rgb(84, 84, 94);
$amarillo: rgb(251, 255, 0);
$marron: rgb(144, 99, 40);
$beige: rgb(250, 235, 205);
$naranja-suave: rgb(247, 200, 115);
$negro-transparente: #0008;
$blanco: #fff;

$fuente-titulo: "Special Gothic Condensed One", sans-serif;
$fuente-cuerpo: sans-serif;