
h1{
    background-color: #434343;
    color: rgb(251, 255, 0);
    font-family: "Special Gothic Condensed One", sans-serif;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 0px;
    text-shadow: 0px 0px 5px rgb(251, 255, 0);
}

.row .col-2 img{
    width: 70%;
    margin-left: 40px;
    filter: drop-shadow(15px 15px 10px black);
}

.barra-principal{
    background-color: #434343;
}

.barra-principal > div{
    margin: auto;
}

.h6 a{
    text-decoration: none;
    color: rgb(248, 248, 248);
}

.h6 a:hover{
    border: 2px solid rgb(248, 248, 248);
    padding: 8px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px gray;
}

.carrito{
    color: rgb(248, 248, 248);
    filter: drop-shadow(0px 0px 2px #0008);
}

.buscador{
    padding-bottom: 10px;
}

.buscador input{
    width: 400px;
    text-align: center;
    border: 3px solid rgb(63, 63, 63);
    padding: 8px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    height: 35px;
}

.buscador i{
    color: white;
    margin-left: 8px;
}

main{
    background-color: rgb(247, 200, 115);
    padding: 30px;
}

.card {
    box-shadow: 0px 0px 15px black;
    margin-bottom: 50px;
}

.card-body, .precio{
    background-color: rgb(250, 235, 205);
}

.precio{
    color: black;
    border: none;
}

.botones{
    display: flex;
    justify-content: center;
}

.boton{
    background-color: rgb(144, 99, 40);
    border: none;
}

.mas-vendido{
    display: flex;
    gap: 25px;
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.productos-destacados h3{
    border: 3px solid white;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: center;
}

.carrusel-cards{
    display: flex;
}

.carrusel{
    justify-content: center;
    width: 400px;
    padding-top: 50px;
    height: auto;
}

.accordion-button{
    border: 2px solid rgb(95, 94, 93);
}

.fondo{
    background-image: url(img/fondo-banner.png);
    height: 400px;
    box-shadow: 0px 0px 30px black;
}

.oscuro{
    background-color: #000a;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 1.5px white;
    padding: 150px;
}

/* Boxs (Quienes Somos) */
.boxs{
    border: 5px solid rgb(84, 84, 94);
    border-radius: 9px;
    padding: 0px;
    margin-top: 30px;
}

.container .box-1,
.container .box-2{
    display: flex;
    background-color: rgb(250, 235, 205);
    text-align: center;
}

.container .box-2{
    flex-direction: row-reverse;
}

.container img{
    width: 40%;
}

.container .box-1 .contenido-box-1{
    margin: auto;
}

.container .box-1 .contenido-box-1 h3{
    margin: 10px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
}

.container .box-1 .contenido-box-1 h2{
    margin-bottom: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.container .box-1 .contenido-box-1 p{
    font-family: sans-serif;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px;
}

/* Footer */
footer{
    background-color: rgb(63, 63, 63);
    display: flex;
    box-shadow: 0px 0px 30px black;
    padding-top: 30px;
}

.footer-general{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 30px;
}

.footer-general .footer{
    color: white;
    border: 2px solid white;
    width: 50%;
    margin-bottom: 30px;
}

.footer h3{
    border-bottom: 2px solid white;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

.container iframe{
    height: 290px;
    width: 500px;
    margin-top: 20px;
}

/* Media Queries */
@media (min-width: 768px) and (max-width: 2560px) {
    .dropdown {
        display: none;
    }
    
    .card img{
        height: 100%;;
        width: 100%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .productos-destacados h3,
    .main .mas-vendido {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .container .box-1 {
        flex-direction: column;
    }

    .container img {
        width: 100%;
    }

    .boxs iframe,
    .container iframe {
        width: 100%;
        height: 200px;
    }

    .footer-general .footer {
        margin-top: 15px;
    }

    .dropdown {
        display: none;
    }
}

@media (max-width: 425px) {
    .col-2 {
        display: none;
    }

    .buscador {
        display: flex;
        align-items: center;
        width: 80%;
        padding-top: 10px;
        padding-right: 27px;
    }

    .buscador a {
        padding-top: 5px;
    }

    .fondo .oscuro {
        padding: 120px;
    }

    .container .box-1,
    .carrusel-cards {
        display: flex;
        flex-direction: column;
    }

    .box-1 img,
    .container iframe {
        width: 100%;
    }

    .dropdown .btn {
        width: 100%;
        background-color: #434343;
    }

    footer{
        flex-direction: column;
    }

    .card img{
        height: 100%;;
        width: 100%;
    }
}
